@inherits HomeMoveUpDownBase

<button title="Move to the top" class="btn btn-secondary btn-sm" @onclick="MoveJobApplicationToTop">⤒</button>
<button title="Move to the bottom" class="btn btn-secondary btn-sm" @onclick="MoveJobApplicationToBottom">⤓</button>