@using BewerbungMasterApp.Models
@using BewerbungMasterApp.Services
@inject IJsonService JsonService

<td class="text-center text-wrap">
    <select @bind-value="Type" @bind-value:event="onchange">
        @foreach (var content in JobAppContents)
        {
            <option value="@content.Name">@content.Name</option>
        }
    </select>
</td>

@code { //TODO: 
        // refactor, compare with another edit components
        // edit in the name is unneccasary
    [Parameter] public JobApplication Job { get; set; } = default!;
    [Parameter] public List<JobAppContent> JobAppContents { get; set; } = new();
    [Parameter] public EventCallback OnUpdate { get; set; }

    private string Type
    {
        get => Job.Type;
        set
        {
            if (Job.Type != value)
            {
                Job.Type = value;
                if (Job.IsInitiative)
                {
                    Job.Position = "Initiativbewerbung";
                }
                UpdateType().ConfigureAwait(false);
            }
        }
    }

    private async Task UpdateType()
    {
        await JsonService.UpdateAsync(Job);
        await OnUpdate.InvokeAsync();
    }
}