@page "/"
@using BewerbungMasterApp.Components.Pages
@using BewerbungMasterApp.Models
@rendermode InteractiveServer

<div class="container-fluid my-5" @onclick="JobEditService.ClearActiveEditField">
    <h3 class="text-center mb-4">Job Applications List</h3>

    <HomeRefreshButton OnRefreshCompleted="RefreshList" />
    <HomeAddJob OnJobAdded="RefreshList" />

    @if (jobApplications == null)
    {
        <p class="text-center">Loading data...</p>
    }
    else if (jobApplications.Count == 0)
    {
        <p class="text-center">No applications available.</p>
    }
    else
    {
        <HomeJobApplicationTable JobApplications="jobApplications" 
                             JobAppContents="jobAppContents"
                             OnUpdate="RefreshList" 
                             OnDelete="RefreshList" 
                             OnMove="RefreshList" />
    }
</div>