@inject IJSRuntime JSRuntime
@inject IJsonService JsonService
@using BewerbungMasterApp.Services
@using BewerbungMasterApp.Models
@using BewerbungMasterApp.Interfaces


<button title="Copy cover letter to clipboard" class="btn btn-primary btn-sm" @onclick="CopyCoverLetterToClipboard">Cover letter 📋</button>

@code {
    [Parameter]
    public required JobApplication Job { get; set; }

    private async Task CopyCoverLetterToClipboard()
    {
        var user = await JsonService.GetUserDataAsync();
        var jobAppContent = await JsonService.GetJobAppContentByNameAsync(Job.Type);

        if (jobAppContent == null)
        {
            await JSRuntime.InvokeVoidAsync("alert", $"Kein Inhalt für den Stellentyp '{Job.Type}' gefunden.");
            return;
        }

        var coverLetterContent = GenerateCoverLetterContent(user, Job, jobAppContent);
        await JSRuntime.InvokeVoidAsync("navigator.clipboard.writeText", coverLetterContent);
    }

    private string GenerateCoverLetterContent(User user, JobApplication job, JobAppContent jobAppContent)
    {
        var content = $@"{user.FirstName} {user.LastName}
{user.Address}
{user.ZipCode} {user.City}
{user.Email}
{(string.IsNullOrEmpty(user.LinkedIn) ? "" : user.LinkedIn + Environment.NewLine)}
Telefonnummer: {user.Phone}

An:
{job.Company}

{user.City}, {DateTime.Now:dd.MM.yyyy}

Bewerbung als {job.Position}

Sehr geehrte Damen und Herren,

{FillPlaceholders(jobAppContent.Content, job)}

Mit freundlichen Grüßen
{user.FirstName} {user.LastName}";

        return content;
    }

    private string FillPlaceholders(string content, JobApplication application)
    {
        return content
            .Replace("{position}", application.Position)
            .Replace("{company}", application.Company)
            .Replace("\n", "\n\n");
    }
}