@using BewerbungMasterApp.Models
@using BewerbungMasterApp.Components.Pages

<tr>
    <td class="text-center">@(JobApplications.IndexOf(Job) + 1)</td>
    @if (Job.Type != "Initiativbewerbung")
    {
        <PositionInput Job="Job" OnUpdate="OnUpdate" />
    }
    else
    {
        <td></td>
    }
    <CompanyInput Job="Job" OnUpdate="OnUpdate" />
    <TypeInput Job="Job" OnUpdate="OnUpdate" JobAppContents="JobAppContents" />
    <td class="text-center">
        <a href="@Job.URL" style="text-decoration: none" target="_blank">🔗</a>
    </td>
    <td class="text-center">
        <Folder Job="Job" />
    </td>
    <td class="text-center">
        <Delete Job="Job" OnDelete="OnDelete" />
        <MoveUpDown Job="Job" OnMove="OnMove" />
    </td>
    <td class="text-center">
        <Message Job="Job" />
        <CoverLetter Job="Job" />
    </td>
</tr>

@code {
    [Parameter] public JobApplication Job { get; set; } = new();
    [Parameter] public List<JobApplication> JobApplications { get; set; } = new();
    [Parameter] public List<JobAppContent> JobAppContents { get; set; } = new();
    [Parameter] public EventCallback OnUpdate { get; set; }
    [Parameter] public EventCallback OnDelete { get; set; }
    [Parameter] public EventCallback OnMove { get; set; }
}