@using BewerbungMasterApp.Models
@using BewerbungMasterApp.Services
@inject IJsonService JsonService

<td class="text-center text-wrap">
    <select @bind="JobType" @bind:event="onchange">
        @foreach (var content in JobAppContents)
        {
            <option value="@content.Name">@content.Name</option>
        }
    </select>
</td>

@code {
    [Parameter] public JobApplication Job { get; set; } = default!;
    [Parameter] public List<JobAppContent> JobAppContents { get; set; } = new();
    [Parameter] public EventCallback OnUpdate { get; set; }

    private string JobType
    {
        get => Job.Type;
        set
        {
            if (Job.Type != value)
            {
                Job.Type = value;
                UpdateType().ConfigureAwait(false);
            }
        }
    }

    private async Task UpdateType()
    {
        await JsonService.UpdateAsync(Job);
        await OnUpdate.InvokeAsync();
    }
}