@inherits HomeMoveUpDownBase

<button class="btn btn-secondary btn-sm" @onclick="MoveJobApplicationToTop">&#x2191;</button>
<button class="btn btn-secondary btn-sm" @onclick="MoveJobApplicationToBottom">&#x2193;</button>